<h1>Custom autocomplete component</h1>

<main>
  <app-custom-autocomplete
    placeholder="Type here..."
    [formControl]="formControl"
    [displayFn]="displayFn"
    (selectedOptionEvent)="handleSelectedOption($event)"
  >
    <app-custom-autocomplete-option
      *ngFor="let item of filteredOptions$ | async"
      [value]="item"
    >
      <span>{{ item.name }}</span>
    </app-custom-autocomplete-option>
  </app-custom-autocomplete>

  <p *ngIf="formControl.value">Value: {{ formControl.value | json }}</p>
</main>

<small>Made by spcmnd</small>
